<%- include("header") -%>
<h1>HOME SWEET HOME</h1>

 <p><%= homeStartingContent %></p>

 <% posts.forEach(function (item) { %>
    <div>
        <h1>
            <%= item.title %> 
        </h1>
        <p>
            <%= item.text.substring(0,100) + " ..." %>   <a href="/posts/<%=item.title%>"> Read more</a>
        </p>
    </div>
    
     
 <% }); %> 

 
<% include footer %>